<div class="jumbotron">
<style>
#col1 {
float: left;
width: 50%;
height: 100%;

}

#col2 {
float: right;
width: 50%;
height: 100%;

}

#rect1 {
background-color:white;
 border: 1px solid gray;
width: 100%;
height:100%;
padding-top: 500px;
padding-right: 100px;
padding-bottom: 250px;
padding-left: 120px;
margin: 0px;
max-height: 200px;
min-height: 150px;
overflow-y: scroll;
}

#rect2 {
background-color:white;
 border: 1px solid gray;
width: 100%;
height: 100%;
padding-top: 500px;
padding-right: 100px;
padding-bottom: 250px;
padding-left: 120px;
margin: 0px;
max-height: 200px;
min-height: 150px;
overflow-y: scroll;
}


#AlertDiv h1 {
    margin:auto;
    line-height:51px;
    vertical-align:middle;
}


</style>
<ngb-tabset #t="ngbTabset">
  <ngb-tab>
    <ng-template ngbTabTitle><b>View Docuemnts</b></ng-template>
    <ng-template ngbTabContent>
      <p>This is the content of the first tab!</p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> This is an alert!
        </ngb-alert>
    </ng-template>
  </ngb-tab>




  <ngb-tab id="tab-selectbyid1">
    <ng-template ngbTabTitle><b>Index Document</b></ng-template>
    <ng-template ngbTabContent>



<div id="col1">
<div id="rect1">

  <div class="container">
<h1><a href="./">{{title}}</a></h1>
<br>
<form id='formData' #formdata method="post" enctype="multipart/form-data">
 <input id="file" #event type="file" name="file" (change)="readUrl($event)">
 <br>
 <input #upload type="submit" value="Upload" class="btn btn-info pull-left" (click)="postfile();">
</form>
<div *ngIf="successMsg">
 <h4 class="text-success">{{successMsg}}</h4>
</div>
<div *ngIf="errorMsg">
 <h4 class="text-danger">{{errorMsg}}</h4>


</div>
</div>



<h6>Create Customer Form</h6>

    <form>
      <div class="form-group">
        <label for="documentID">DocumentID</label>
        <input type="text" class="form-control" id="documentID" required
        [(ngModel)]="documentStore.documentID" name="documentID">
      </div>

      <div class="form-group">
        <label for="documentName">DocumentName</label>
        <input type="text" class="form-control" id="documentName" required
        [(ngModel)]="documentStore.documentName" name="documentName">
      </div>

      <div class="form-group">
        <label for="documentType">DocumentType</label>
        <input type="text" class="form-control" id="documentType" required
        [(ngModel)]="documentStore.documentType" name="documentType">
      </div>

      <button type="button" class="btn btn-outline-primary" (click) = 'save()'>IndexDoc</button>
    </form>
  </div>

</div>
<div id="col2">
  <div id="rect2">



    <pdf-viewer [src]="pdfSrc"
                  [render-text]="true"
                  [page]="page"
                  [show-all]="false"
                  [fit-to-page]="false"
                  [autoresize]="true"
                  style="display: block;"
      ></pdf-viewer>



        <img [src]="url">



      <div style="margin-left:100%;">
        <h6>Txt Upload</h6>
        <input id="file-upload"
      type="file"
      accept=".txt"
      (change)="fileUpload($event)">

      {{fileText}}

      </div>

</div>

</div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
